include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/in_app_reporting *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/in_app_reporting/migration *.ini *.py *.mako
