recursive-include ckanext/in_app_reporting/templates *
recursive-include ckanext/in_app_reporting/assets *
recursive-include ckanext/in_app_reporting/public *
recursive-include ckanext/in_app_reporting/i18n *
recursive-include ckanext/in_app_reporting/migration *