{% import 'macros/form.html' as form %}

{% asset 'reporting/card-form-js' %}
{% asset 'reporting/reporting-css' %}

{% set embeddable_cards = h.get_metabase_embeddable('card') %}

{% if g.userobj.sysadmin %}
<div class="row">
  <div class="span12 col-md-12">
    {% set
      entity_id_attrs = {
        'data-module': 'get-metabase-collection-items',
        'data-module-source': '/metabase/collection_items_list/card',
        'data-embeddable': embeddable_cards
      }
    %}
    {{ form.input(
      'entity_id',
      id='field-entity_id',
      label=_('Card'),
      value=data.entity_id,
      error=errors.entity_id,
      is_required=true,
      classes=['control-full'],
      attrs=entity_id_attrs
      ) }}
    <div id="publish-warning" class="alert fade in alert-warning" style="display:none"></div>
    {{ form.checkbox(
      'bordered',
      id='field-bordered',
      label=_('Display border'),
      value='True',
      checked=data.bordered
      ) }}
    {{ form.checkbox(
      'titled',
      id='field-titled',
      label=_('Display title'),
      value='True',
      checked=data.titled
      ) }}
  </div>
</div>
{% else %}
<div class="alert alert-error">
  <p>You do not have permission to list embeddable questions.</p>
</div>
{% endif %}